body {
    margin: 2% 2% 5% 2%;
    /*background-color: #e0ffdd; */
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-variant: normal;
}

div.biggest {
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;
}

div.bigger {
    padding: 20px 0px 5px 0px;
    font-size: 25px;
    font-style: oblique;
    /*font-weight: bold;
    line-height: 40px; */
}

div.big {
    font-size: 20px;
    /*font-weight: bold;
    line-height: 40px; */
}

div.cli {
    padding: 4px 0px 10px 0px;
    font-family: courier, fixed-width;
}

/* For the SFTP login information */
#sftp {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 20px;
    text-align: left;
    vertical-align: middle;
}

/* For the collections table */
#col {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 20px;
    text-align: left;
    vertical-align: middle;
}

/* For the recent finds table */
#rec {
}
