body {
    margin: 2% 2% 5% 2%;
    background-color: #e0ffdd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-variant: normal;
}

div.biggest {
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;
}

div.bigger {
    padding: 20px 0px 5px 0px;
    font-size: 25px;
    font-style: oblique;
    /*font-weight: bold;
    line-height: 40px; */
}

div.big {
    font-size: 20px;
    /*font-weight: bold;
    line-height: 40px; */
}

div.cli {
    padding: 4px 0px 10px 0px;
    font-family: courier, fixed-width;
}



th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 20px;
    text-align: left;
    vertical-align: middle;
}

/*tr:nth-child(even) {
  background-color: #D6EEEE;
}*/
